/* base */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    line-height: normal;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    background-color: #fff;
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
}

input:hover,
button:hover {
    border: 0;
    outline: none;
}

input:focus,
button:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 5px 0 5px;
}

@media (max-width: 1400px) {
    .container {
        max-width: 1400px;
        padding: 0 10px 0 10px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0 10px 0 10px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
        padding: 0 10px 0 10px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 768px;
        padding: 0 8px 0 8px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
        padding: 0 8px 0 8px;
    }
}

.title-medium {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
}

.bg-pink {
    background-color: #ED5B65;
}

.square-small {
    height: 135px;
    width: 135px;
    background: #F56F79;
}


/* @media (max-width: 426px) {
    .container {
        max-width: 426px;
        padding: 0 5px 0 5px;
    }
}

@media (max-width: 326px) {
    .container {
        max-width: 326px;
        padding: 0 5px 0 5px;
    }
} */


/* base */


/* top */

.top {
    padding-top: 90px;
    margin-bottom: 200px;
}

.logo {
    margin-bottom: 95px;
}

.bacground-block::after {
    left: 50%;
    bottom: -40px;
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    background: #F1F1F1;
    border-bottom: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;
    border-left: 1px solid #D2D2D2;
    height: 40px;
    transform: translateX(-50%);
}

.sentence-content__item {
    padding-left: 136px;
    padding-top: 110px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FF9FA6;
    margin-bottom: 90px;
}

.title-sentence {
    padding-left: 135px;
}

.credit {
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    padding-left: 136px;
    width: 750px;
    margin-bottom: 131px;
}

.circles {
    max-width: 530px;
    right: 0;
}

.scroll-position {
    transform: rotate(-90deg);
    bottom: 167px;
    right: 30px;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.scroll {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 4px;
    width: 160px;
    margin-left: 20px;
}

.mouse {
    transform: rotate(90deg);
}

.square-position--two {
    right: 250px;
    bottom: 0;
}

.points-right {
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.points-two {
    height: 170px;
    margin-bottom: 100px;
}


/* top */


/* advantages */

.advantages {
    margin-bottom: 220px;
}

.title-advantages {
    color: #ED5B65;
    margin-bottom: 130px;
    padding-left: 121px;
}

.block__item--card {
    margin-bottom: 100px;
}

.block__item--card:last-child {
    margin-bottom: 0px;
}

.item--card__top {
    margin-bottom: 25px;
}

.item--card__top--images {
    height: 72px;
    width: 72px;
    margin-right: 50px;
}

.item--card__title {
    width: 360px;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
}

.item--card__information {
    padding-left: 121px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    width: 506px;
    height: 96px;
}

.btn-medium {
    margin-left: 121px;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    padding: 25px 115px !important;
}


/* advantages */


/* cases */

.cases {
    margin-bottom: 220px;
}

.title-cases {
    width: 675px;
    transform: rotate(-90deg);
    font-weight: 800;
    font-size: 96px;
    line-height: 110px;
    color: #DEDEDE;
    left: -140px;
    top: 282px;
}

.cases-block {
    padding-left: 200px;
    margin-bottom: 190px;
}

.cases-block:last-child {
    margin-bottom: 0px;
}

.block__cities {
    padding-top: 50px;
    height: 550px;
    position: sticky;
    top: 0;
}

.cities-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 80px;
}

.per-month_title {
    color: #ED5B65;
    margin-bottom: 20px;
}

.applications-per-month__item {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.ruble__text {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    width: 270px;
}

.block-statistics__calibri {
    margin-bottom: 60px;
}


/* cases */


/* tages */

.tages {
    margin-bottom: 400px;
}


/* tages */


/* important */

.important {
    margin-bottom: 150px;
}

.important-thanks {
    margin-right: 190px;
}

.important-thanks__links {
    margin-bottom: 60px;
}

.links--item {
    margin-right: 50px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}

.links--item:last-child {
    margin-right: 0px;
}

.title-important {
    color: #ED5B65;
    margin-bottom: 35px;
}

.important-information {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    width: 685px;
    margin-bottom: 90px;
}

.important-social__networks {
    margin-right: 35px;
}

.important-social__networks:last-child {
    margin-right: 0ox;
}

.important-partner {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    width: 450px;
    padding: 60px 0 70px 0;
}

.important-partner__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    transform: uppercase;
    color: #ED5B65;
    margin-bottom: 40px;
}

.important-partner__text {
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    width: 275px;
}

.important-partner__text span {
    font-weight: bold;
}


/* important */


/* footer */

.footer-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    padding: 25px 0;
    margin: 0 auto;
    width: 920px;
}


/* footer */